/* admin.scss */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

h2 {
  color: #ac0000;
}

h3 {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
table th, table td {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}
table th {
  background-color: #f0f0f0;
  font-weight: bold;
  text-align: left;
}
table td {
  vertical-align: middle;
}
table .edit-button,
table .delete-button {
  padding: 6px 10px;
  margin-right: 5px;
  font-size: 14px;
  color: #fff;
  background-color: #ac0000;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
table .edit-button:hover,
table .delete-button:hover {
  background-color: #555;
}

.add-movie {
  background-color: #a1d0df;
  padding: 20px;
  margin-top: 20px;
}
.add-movie label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}
.add-movie input[type=text],
.add-movie textarea,
.add-movie input[type=file] {
  width: 50%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 3px;
  font-size: 14px;
}
.add-movie button[type=submit] {
  padding: 8px 12px;
  font-size: 16px;
  color: #fff;
  background-color: #ac0000;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.add-movie button[type=submit]:hover {
  background-color: #555;
}