#ticket {
  background-color: rgb(114, 144, 189);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}
#ticket .movie-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
#ticket .movie-details img {
  width: 300px;
  height: auto;
  margin-right: 20px;
  border-radius: 8px;
}
#ticket .movie-details .ticket-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#ticket .movie-details .ticket-form h2 {
  color: #8b0000;
  margin-bottom: 10px;
}
#ticket .movie-details .ticket-form form label {
  color: black;
  margin-bottom: 5px;
}
#ticket .movie-details .ticket-form form input,
#ticket .movie-details .ticket-form form select {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
#ticket .movie-details .ticket-form form button {
  background-color: #b30000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
#ticket .movie-details .ticket-form form button:hover {
  background-color: #ff0000;
}