@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background-color: #afcdd6;
  margin: 0;
  padding: 0;
}

#details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.movie-details {
  text-align: center;
  background-color: cadetblue;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

h2 {
  font-size: 24px;
  color: #b30000;
  margin-top: 0;
}

p {
  font-size: 16px;
  color: #333;
  margin: 10px 0;
}
p span {
  color: #000cb3;
}

img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 5px;
}